/* Signup.css */

/* PAGE */
.signup-page {
  height: 100vh;

  background: #0A1B2A;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Segoe UI", sans-serif;
}

/* CARD */
.signup-card {
  width: 380px;

  background: #081521;

  padding: 35px;

  border-radius: 16px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.4);

  color: white;
}

/* BACK BUTTON */
.signup-back-btn {

  background: transparent;

  border: none;

  color: #f4c430;

  font-size: 18px;

  cursor: pointer;

  margin-bottom: 10px;

  padding: 0;
}

.signup-back-btn:hover {
  opacity: 0.8;
}

/* TITLE */
.signup-card h2 {
  text-align: center;

  color: #D5AD36;

  margin-bottom: 5px;

  font-size: 28px;
}

.subtitle {
  text-align: center;

  font-size: 14px;

  color: #94a3b8;

  margin-bottom: 25px;
}

/* LABEL */
.signup-card label {
  font-size: 13px;

  color: #cbd5e1;

  display: block;

  margin-top: 14px;
  margin-bottom: 6px;
}

/* INPUT */
.signup-card input {
  width: 100%;

  padding: 14px;

  border-radius: 12px;

  border: none;

  background: #d9dee7;

  color: black;

  outline: none;

  font-size: 15px;

  box-sizing: border-box;
}

/* SIGNUP BUTTON */
.signup-btn {
  width: 100%;

  margin-top: 24px;

  padding: 14px;

  background: #D5AD36;

  color: #0A1B2A;

  border: none;

  border-radius: 12px;

  font-weight: bold;

  font-size: 16px;

  cursor: pointer;

  transition: 0.3s;
}

.signup-btn:hover {
  opacity: 0.9;
}

/* MOBILE */
@media (max-width: 500px) {

  .signup-card {
    width: 90%;
    padding: 25px;
  }

}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
}

.show-btn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #555;
}